body {
    font-family: sans-serif;
}

header{
    height: 200px;
    background-image: url("https://www.1zoom.ru/big2/66/333064-alexfas01.jpg")
}

h1{
    font-size: 50px;
    text-align: center;
    padding: 50px;
    color: blue;
}

.link-nav{
    background-image: linear-gradient(blue, yellow);
    text-decoration: none;ite
    height: 40px;
    width: 120px;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;}

    .link-nav:hover{
background-image: linear-gradient(yellow, white);
    }

    main{
    background-image: linear-gradient(blue, white);
}

footer{
    background-image: linear-gradient(blue, yellow);
    font-size: 18px;
}
